@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
* {
    font-family: 'Prompt', sans-serif;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

* {
    margin: 0;
    font-size: 1.1em;
}

body {
    overflow-x: hidden;
}


/* nav */

nav {
    background-color: #254dcf;
}

#nav_li,
#nav_head {
    padding-top: 2vh;
    color: whitesmoke;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #254dcf;
}

#nav_head {
    padding-top: 1vh;
    margin-left: 30vw;
    font-size: 1em;
}

.nav_s {
    font-size: 1em;
}

#search {
    background-color: transparent;
    border: none;
    border-bottom: whitesmoke solid 1px;
    text-decoration: none;
    font-size: 1em;
    margin-top: 1vh;
    padding-left: 1em;
}


/* section */

section {
    width: 100vw;
    height: 100vh;
}


/* footer */

#footer1 {
    background-color: #19338a;
    text-align: center;
    height: 10vh;
}

#txt_footer {
    color: whitesmoke;
    width: 15vw;
    background-color: #e2624e;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1.3em;
    padding: 7px;
    display: inline-block;
    margin-top: 2.5vh;
}

#txt_footer:hover {
    background-color: #0d277c;
    cursor: pointer;
}

#footer2 {
    height: 50vh;
    background-color: #0d277c;
    padding: 2%;
    padding-left: 10vw;
}

li {
    color: whitesmoke;
}

#header_footer {
    color: whitesmoke;
    margin-left: 1.5vw;
    font-size: 0.9em;
}

#header_borderbottom {
    margin-left: 1.5vw;
    width: 1vw;
    height: 3px;
    background-color: #aebdef;
    margin-top: -1%;
    margin-bottom: 3%;
}

#footer2_txt1 {
    color: whitesmoke;
    text-decoration: none;
    font-size: 0.6em;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

#copyright {
    padding: 2%;
    color: whitesmoke;
    text-align: center;
    font-size: 0.8em;
    margin: 0 auto;
}


/* section */