@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@900&display=swap');
* {
    font-family: 'Prompt', sans-serif;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

* {
    margin: 0;
    font-size: 1.1em;
}

body {
    overflow-x: hidden;
}


/* nav */

nav {
    top: 0;
    height: 75px;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    border-bottom: 0.6px solid rgba(255, 255, 255, 0.219);
    z-index: 1;
}

#topbar {
    transition: opacity 0.5s ease-in-out;
}

#nav_li,
#nav_head {
    font-size: 1em;
    color: whitesmoke;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
    z-index: 100;
}

#nav_li:hover {
    background-color: transparent;
}

#nav_li2 {
    padding-top: 2vh;
    color: whitesmoke;
    width: 12vw;
    padding: 9px;
    text-align: center;
    border-radius: 0px 0 0 10px;
    background-color: #ff6a48;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
    z-index: 100;
}

#nav_li2:hover {
    letter-spacing: 3px;
    background-color: #ec5c3b;
    transition: all 1ms ease-in-out;
}

#nav_li3 {
    padding-top: 2vh;
    color: whitesmoke;
    width: 10vw;
    padding: 9px;
    text-align: center;
    background-color: #00cfcf;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
    z-index: 100;
}

#nav_li3:hover {
    letter-spacing: 3px;
    background-color: #03b6b6;
    transition: all 1ms ease-in-out;
}

#nav_li4 {
    padding-top: 2vh;
    color: whitesmoke;
    width: 8vw;
    padding: 9px;
    text-align: center;
    border-left: 0.6px solid rgba(255, 255, 255, 0.219);
    background-color: #1f3fab;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
    z-index: 100;
}

#nav_li4:hover {
    background-color: #18338a;
    transition: all 1ms ease-in-out;
}

#nav_li5 {
    padding-top: 2vh;
    color: whitesmoke;
    width: 7vw;
    border-left: 0.6px solid rgba(255, 255, 255, 0.219);
    padding: 9px;
    text-align: center;
    background-color: #1f3fab;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
    z-index: 100;
}

#nav_li6 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-top: 2vh;
    color: whitesmoke;
    width: 6.5vw;
    height: 40px;
    border-left: 0.6px solid rgba(255, 255, 255, 0.219);
    padding: 9px;
    text-align: center;
    background-color: #1f3fab;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
    z-index: 100;
}

#nav_li7 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-top: 2vh;
    color: whitesmoke;
    width: 6.5vw;
    height: 40px;
    font-size: 12px;
    padding: 9px;
    text-align: center;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
    z-index: 100;
    font-size: 1em;
}

.dropdown-menu {
    border: 0;
    height: 5vh;
    z-index: 100;
}

#nav_head {
    padding-top: 1vh;
    margin-left: 15vw;
    font-size: 1em;
    z-index: 100;
}

.nav_s {
    font-size: 1em;
    left: 56%;
    position: absolute;
    z-index: 100;
    cursor: pointer;
}

.nav_b {
    position: absolute;
    top: 5.5vh;
    z-index: 100;
    font-size: 1em;
}

#search {
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: whitesmoke solid 1px;
    text-decoration: none;
    font-size: 1em;
    margin-top: 1vh;
    padding-left: 1em;
}

::placeholder {
    color: rgb(189, 184, 184);
    opacity: 1;
}

.drop_head {
    color: white;
    font-size: 1em;
}

.drop_head:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: transparent;
}


/* log in */

#thai {
    transform: scale(0.8);
    float: right;
    margin-top: -0.8vh;
    margin-right: 0.8vw;
    z-index: 100;
}

#emoji {
    float: left;
    cursor: pointer;
    margin-top: 1.1vh;
    margin-left: 1vw;
    z-index: 100;
}

#english {
    transform: scale(0.8);
    float: right;
    cursor: pointer;
    margin-top: -1vh;
    margin-left: 1vw;
    z-index: 100;
}

#profile {
    transform: scale(1.5);
    cursor: pointer;
    float: right;
    margin-right: 10%;
    z-index: 100;
}

#pointer {
    cursor: pointer;
}

#box_profile {
    background-color: rgba(8, 22, 88, 0.63);
    padding: 20px;
    width: 7vw;
    height: 2vh;
    margin-top: 5%;
    margin-left: 60%;
    border-radius: 10px;
}

#chatbar {
    transition: opacity 0.5s ease-in-out;
}

.chat {
    padding: 15px;
    background-color: #0d277c;
    box-shadow: 0 0 10px rgba(165, 165, 165, 0.322);
    border-radius: 15px;
    bottom: -2%;
    right: 3%;
    position: fixed;
    width: 12%;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}

#txt_chat {
    text-align: center;
    font-weight: 600;
    font-size: 1.4em;
    color: white;
    position: absolute;
    margin-top: 1%;
}


/* section */

section {
    width: 100vw;
    height: 100vh;
}


/* footer */

#footer1 {
    background-color: #19338a;
    text-align: center;
    height: 10vh;
}

#txt_footer {
    color: whitesmoke;
    width: 15vw;
    background-color: #e2624e;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1.3em;
    padding: 7px;
    display: inline-block;
    margin-top: 2.5vh;
}

#txt_footer:hover {
    background-color: #0d277c;
    cursor: pointer;
}

#footer2 {
    background-size: cover;
    background-color: #0d277c;
    padding: 2%;
    padding-left: 10vw;
}

li {
    color: whitesmoke;
}

#header_footer {
    color: whitesmoke;
    margin-left: 1.5vw;
    font-size: 0.9em;
}

#header_borderbottom {
    margin-left: 1.5vw;
    width: 1vw;
    height: 3px;
    background-color: #aebdef;
    margin-top: -1%;
    margin-bottom: 3%;
}

#footer2_txt1 {
    color: whitesmoke;
    text-decoration: none;
    font-size: 0.6em;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

#copyright {
    padding: 2%;
    color: whitesmoke;
    text-align: center;
    font-size: 0.8em;
    margin: 0 auto;
}

/* section page*/

#pageques {
    position: relative;
    width: 100vw;
    height: 310vh;
}



/* ถาม-ตอบ */
#search-ques {
    width: 530px;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid rgb(174, 173, 173);
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    z-index: -10;
    color: white;
  }
#search-ques:hover{
    border: 1px solid #ccc;
}
#search-ques:active{
    border: 1px solid white;
   
}
#input-title::placeholder{
    color: white;
}
.ques-card1{
    border-radius: 10px;
    position: absolute;
    left: 520px;
    top: 180px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

.ques-card2-1{
    border-radius: 10px;
    position: absolute;
    left: 260px;
    top: 125px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.ques-card2-2{
    border-radius: 10px;
    position: absolute;
    left: 785px;
    top: 125px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.ques-card2-3{
    border-radius: 10px;
    position: absolute;
    left: 260px;
    top: 255px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.ques-card2-4{
    border-radius: 10px;
    position: absolute;
    left: 785px;
    top: 255px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.ques-card2-5{
    position: absolute;
    left: 260px;
    top: 385px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.ques-card2-6{
    position: absolute;
    left: 785px;
    top: 385px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.ques-card2-7{
    position: absolute;
    left: 260px;
    top: 515px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.ques-card2-8{
    position: absolute;
    left: 785px;
    top: 515px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.ques-card2-9{
    position: absolute;
    left: 260px;
    top: 645px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.ques-card2-10{
    position: absolute;
    left: 785px;
    top: 645px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.ques-card2-11{
    position: absolute;
    left: 260px;
    top: 775px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.ques-card2-12{
    position: absolute;
    left: 785px;
    top: 775px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.ques-card2-13{
    position: absolute;
    left: 260px;
    top: 905px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.ques-card2-14{
    position: absolute;
    left: 785px;
    top: 905px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.ques-card3{
    border-radius: 10px;
    position: absolute;
    left: 520px;
    top: 80px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.ques-card4{
    border-radius: 10px;
    position: absolute;
    left: 520px;
    top: 170px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#ques-text-4{
    font-size: 20px;
    color:  #0f297d; 
    position: absolute;;
    left: 260px;
    top: 110px;
}
#ques-text-3{
    font-size: 20px;
    color:  #0f297d; 
    position: absolute;;
    left: 260px;
    top: 5px;
}
#ques-text-1{
    font-size: 20px;
    color:  #0f297d; 
    position: absolute;;
    left: 290px;
    top: 130px;
}
#ques-text-2{
    font-size: 20px;
    color:  #0f297d; 
    position: absolute;;
    left: 260px;
    top: 80px;
}
#ques-1-title{
    position: absolute;;
    left: 650px;
}
#but-end , #but-end::after, #but-end::before ,#but-end:active{
    position: absolute;
    top:-180px;
    left: 590px;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border:none;
    font-size: 18px;
    background-color: rgb(225, 223, 223);
    color: grey;
}
#but-ques{
    background-color: black;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 8px;
    color: whitesmoke;
    border: none;
    font-size: 25px;
    position: absolute;
    left: 85%;
    top: 40%;
    text-align: center;
}

.cta {
    background-color: black;
    width: 60px;
    height: 45px;
    border-radius: 8px;
    color: whitesmoke;
    border: none;
    font-size: 25px;
    position: absolute;
    left: 86%;
    top: 45%;
    transition: all .2s ease;
    cursor: pointer;
}
#icon {
    position: relative;
    top: 7px;
    color:white;
    transform: translateX(18px);
    transition: all .3s ease;
}
#icon:hover{
      width: 100%;
      transform: translateX(25px);
      color: white;
}
#but-loadques{
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: rgb(225, 223, 223);
    color: grey;
    position: absolute;
    top: 330px;
    left: 590px;
}
#but-loadques-2{
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: rgb(225, 223, 223);
    color: grey;
    position: absolute;
    top: 220px;
    left: 590px;
}
#but-loadques-3{
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: rgb(225, 223, 223);
    color: grey;
    position: absolute;
    top: 320px;
    left: 590px;
}
#but-questitle{
    width: 330px;
    height: 43px;
    border-radius: 10px;
    border: none;
    font-size: 16.5px;
    background-color: #ff6a48;
    color:white;
    text-align: left;
    padding-left: 1%;
    position: absolute;
    left: 595px;
    top: 300px;
}
#but-questitle:hover{
    background-color:  #254ac4;
    letter-spacing: 2px;
    transition: all .2s ease;
}
#but-loadques-active{
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: #ff6a48;
    color: white;
    margin-left: 1%;
    margin-top: -17%;
}
#but-loadques-active:hover{
    background-color:  #254ac4;
    letter-spacing: 2px;
    transition: all .3s ease;
}
 
.box{

	width: 530px;
	height: 55px;
	background: transparent;
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding: 20px;
    border: 1px solid rgb(209, 209, 209);
    position: absolute;
    left: 500px;
    top: 180px;
}
.box:hover{
    border: 1px solid rgb(255, 253, 253);
}

.box > i {

	font-size: 20px;
    font-weight: lighter;
	color: rgb(230, 227, 227);

}

.box > input{

	flex: 1;
	height: 40px;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;
    background: transparent;
    color: white;
}
#ques-unbox{
    position: absolute;
    left: 600px;
    top: 260px;
}
#span-ques{
    position: absolute;
    right: 20px;
}
#ques-title{
    position: absolute;
    top: 110px;
    left: 650px;
}